/*Спецификация*/
body {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000;
}

* {
    box-sizing: border-box;
}

ul, li {
    padding: 0;
    margin: 0;
    display: block;
    list-style: none;
}

h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
    font-weight: 700;
    color: #323232;
    line-height: 1.2em;
}

p {
    margin: 0;
    line-height: 1.4em;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

a {
    text-decoration: none;

}

.container_flex{
    display: flex;
    align-items: center;
}

img {
    max-width: 100%;
    display: block;
}

.btn {
    padding: 13px 0px;
    background: #6BAFFF;
    font-size: 15px;
    border-radius:30px;
    display: block;
    width: 200px;
    text-align: center;
    color: #000;
}

.btn:hover {
    background: #2484F5;
    transition:background 0.5s ease;
}

.section-title{
    font-size: 36px;
    padding-bottom: 58px;
    text-align: center;
}

/*Первая секция*/ 

.nav {
    border-bottom: 1px solid #000;
}

.menu {
    margin-left: auto;
}

.logo {
    background: url('../img/logo.svg') no-repeat;
    width: 101px;
    height: 88px;
    display: block;
}

.menu__list{
    display: flex;
}

.menu__item a {
    color: #000;
    padding: 40px 28px;
    display: block;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition: border-bottom.5s ease;
}

.menu__item-tel{
    font-weight: 700;
    padding: 31px 40px;
    display: flex;
    flex-direction: column;
}

.menu__item-tel a{
    color: #000;
    transition: color 0.5s ease;
}

.menu__item-tel a:hover{
    color: blue;
    transition: color 0.5s ease;
}

.menu__item a:hover
{
    border-bottom: 2px solid #000;
    transition: border-bottom.5s ease;
}

/*Слайдер*/

.all {
    padding-top: 70px;
}

#slider { /*положение слайдера*/
    position: relative;
    text-align: center;
    top: 10px;
}

#slider{ /*центровка слайдера*/
    margin: 0 auto;
}

#slides article{ /*все изображения справа друг от доруга*/
    width: 20%;
    float: left;
}

#slides .image{ /*устанавливает общий размер блока с изображениями*/
    width: 500%;
    line-height: 0;
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
    width: 100%;
    overflow: hidden;
}

article img{ /*размер изображений слайдера*/
    width: 100%;
}

#desktop:checked ~ #slider{ /*размер всего слайдера*/
    max-width: 1030px; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ #controls label:nth-child(5), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
    background: url('../img/prev.png') no-repeat; /*заливка фона картинкой без повторений*/
    float: left;
    margin: 25px 0 0 -84px; /*сдвиг влево*/
    display: block;
    height: 68px;
    width: 68px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
    background: url('../img/next.png') no-repeat; /*заливка фона картинкой без повторений*/
    float: right;
    margin: 25px -84px 0 0; /*сдвиг вправо*/
    display: block;
    height: 68px;
    width: 68px;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
    cursor: pointer;
}

.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
    display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image{
    margin-left: 0;
}

#switch2:checked ~ #slides .image{
    margin-left: -100%;
}

#switch3:checked ~ #slides .image{
    margin-left: -200%;
}

#switch4:checked ~ #slides .image{
    margin-left: -300%;
}

#switch5:checked ~ #slides .image{
    margin-left: -400%;
}

#controls{ /*положение блока всех управляющих элементов*/
    margin: -25% 0 0 0;
    width: 100%;
    height: 50px;
}

#active label{ /*стиль отдельного переключателя*/
    border-radius: 10px; /*скругление углов*/
    display: inline-block; /*расположение в строку*/
    width: 15px;
    height: 15px;
    background: #bbb;
}

#active{ /*расположение блока с переключателями*/
    margin: 20% 0 0;
    text-align: center;
}

#active label:hover{ /*поведение чекбокса при наведении*/
    background: #76c8ff;
    border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
    background: #18a3dd;
    border-color: #18a3dd !important;
}

#slides .image{ /*анимация пролистывания изображений*/
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ /*прозрачность стрелок при наведении*/
    opacity: 0.6;
}

#controls label{ /*прозрачность стрелок при отводе курсора*/
    transition: opacity 0.2s ease-out;
}

.text{
font-size: 1.4rem;
font-weight: 100;
text-transform: uppercase;
width: 100%;
}

/* Вторая секция */

.education {
    padding: 116px 0 88px;
}

.variants {
    width: auto;
}

.var {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ob {
    margin-right: 52px;
    margin-bottom: 28px;
    position: relative;
    display: inline-block;
}

.ob img {
    width: auto;
}

.ob:nth-child(4) {
    margin-right: 0px
}

.ob:nth-child(8) {
    margin-right: 0px
}

.text__img {
    color: black;
    position: absolute;
    font-weight: 700;
    font-size: 16px;
    bottom: 87px;
    font-size: 18px;
    padding: 5px;
    text-align: center;
}

.text__img-t{
    padding-left: 20px;
    color: black;
    position: absolute;
    font-weight: 700;
    font-size: 16px;
    bottom: 87px;
    font-size: 18px;
    text-align: center;
}

.variants__img{
    width: 210px;
    border: 2px solid transparent;
    transition:border 0.5s ease;
}

.variants__img:hover{
    transition:border 0.5s ease;
    border: 2px solid #53A0E7;
}

/* ---- Подписка ---- */

.subscribtion {
	padding: 35px 0;
    background: #EBEBEB;
}
.subscribe {
  text-align: center;
}
.subscribe__title {
  margin-bottom: 10px;
}
.subscribe__text {
  margin-bottom: 19px;
}
.subscribe__form {
  width: 490px;
  display: flex;
  margin: 0 auto
}
.subscribe__input {
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px 0 0 30px;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  width: 299px;
  padding-left: 33px;
}
.subscribe__btn {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  border: none;
  cursor: pointer;
  border-radius: 0 30px 30px 0;
  padding: 13px 44px 13px 35px;
  transition:background 0.5s ease;
}

/* ---- Отзывы ---- */

.feedback {
    padding: 116px 0;
}

.block{
    display: flex;
    justify-content: space-between;
}

.review__title {
    padding-bottom: 13px;
}
.reviews{

    max-width: 283px;
    padding: 20px 24px;
    background: linear-gradient(0.25deg, #408CE6 0.19%, #EBEFFC 99.75%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 36px;

}

/* Подвал */

.footer {
    background: #F6F6F8;
    padding: 70px 0 0 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
  }

  .wrap {
      max-width: 350px;
      margin-top: 13px;
  }

  .footer-content__info{
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .footer-content__list-items {
    margin-right: 40px;
    margin-bottom: 10px;
  }

  .footer-content__list-items a{
    color: #000;
    display: flex;
    transition: color 0.5s ease;
}

.footer-content__list-items a:hover{
    transition: color 0.5s ease;
    color: #2484F5;
}

.cards {
    background: url('../img/cards.png') no-repeat;
    width: 320px;
    height: 40px;
    display: block;
    margin-top: 25px;
}

  .footer-content__list-s {
      display: flex;
      margin-top: 20px;
      align-items: center;
  }

.footer-content__list-item_social {
    margin-right: 22px;
}

.footer-content__icon {
    margin-right: 17px;
}

.footer-content__list {
    margin-top: 25px;
}

  .footer-content__list-item {
    margin-bottom: 21px;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  
  .footer-content__list-item a{
    color: #000;
    display: flex;
    transition: color 0.5s ease;
}

.footer-content__list-item a:hover{
    transition: color 0.5s ease;
    color: #2484F5;
}

.footer-credits {
    margin-top: 61px;
    padding: 30px 0;
    border-top: 1px solid #E0E0E0;
  }
  .footer-credits__text {
    font-size: 13px;
    text-align: center;
  }


